/**
 * Font Family
 */

@import "https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab&display=swap";
$main-font: 'Josefin Sans', sans-serif;
$sub-font: 'Josefin Slab', serif;



/**
 * Color Style
 */
$main-color: #007A54;
$sub-color: #00A96D;
$soft-color: #C4F4CF;

$power-color: #F7D13B;
$lite-color: #F9DA60;

$white: #F3FFFA;
$black: #043927;
$none: transparent;

