---

---

@import "var";

/**
 * Tile Styling
 */

.container {
	display:flex;
	flex-wrap: wrap;
	padding: 3em;
	justify-content: center;
}

.tile {
	cursor: pointer;
	text-align: center;
	margin-bottom: 6em;
	max-width: 26em;
	padding: 1em;
	transition: all .3s ease;

	/* Image Hover */
	&:hover .photo {
		transform: translateY(-.1rem) scale(1.02);
		transition: all .3s ease;
		&:after {
			opacity: 0.4;
			transition: opacity .3s ease;
		}
	}
	&:hover .thumbnail {
		transform: scale(1.02);
		transition: all .3s ease;
	}

	/* Text Hover */
	&:hover .date {
		transform: translateY(.1rem);
		transition: all .3s ease;
	}
	&:hover .title {
		color: $power-color;
		transform: translateY(.1rem);
		transition: all .3s ease;
		&:after {
			width: 100%;
  			left: 0;
		}
	}
	&:hover p {
		transform: translateY(.1rem);
		transition: all .3s ease;
	}
}



/**
 * Image
 */

.photo {
	background: $none;
	max-width: 24em;
	max-height: 13.5em;
	margin-bottom: 1em;
	border-radius: 15px;
	overflow: hidden;
	transition: all .3s ease;
	position: relative;
		&:after {
			background: rgba(0,0,0,0.8);
			background: rgba(0,0,0,0.3);
			color: #fff;
			content: 'Read the Post';
			content: '';
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			position: absolute;
			transition: opacity .3s ease;
	}
}

.thumbnail {
	object-fit:cover;
	transform: scale(1);
	transition: all .3s ease;
	height: 100%;
	width: 100%;
}



/**
 * Text
 */

.tile a {
	text-decoration: none;
}

.text {
	padding: 0 1em;

	.date {
		color: $sub-color;
		font-size: 90%;
		font-weight: 600;
		letter-spacing: 1px;
		display: inline-block;
		margin: 0;
		text-transform: uppercase;
		transition: all .3s ease;
	}

	.title {
  		color: $main-color;
		display: inline-block;
  		position: relative;
		margin-top: .5em;
		transition: all .3s ease;
		&:after {
			background: none repeat scroll 0 0 transparent;
  			bottom: 0;
  			content: "";
  			display: block;
  			height: 2px;
  			left: 50%;
  			position: absolute;
  			background-color: $lite-color;
  			transition: width 0.3s ease 0s, left 0.3s ease 0s;
  			width: 0;
		}
	}

	p {
		color: $black;
		transition: all .3s ease;
	}
}

